# use in cmd window : pip install -r requirements.txt
seaborn
matplotlib
numba
numpy==1.24.4
pandas
# To avoid issues with pyarrow and cmake use pyarrow version 17.0.0 before updating if necessary
pyarrow==14.0.0
streamlit
fpdf
plotly
openpyxl

